{% load static %}
<!-- Load static files using the {% load static %} template tag. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Bootstrap CSS from a CDN for styling. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Include Bootstrap JavaScript bundle from a CDN for interactive features. -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- Include a custom stylesheet for additional styling. -->
    <link rel="stylesheet" href="{% static 'predictapp/style.css' %}">
    
    <!-- Define the heading and navigation bar using Bootstrap. -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">HUMAN ACTIVITY PREDICTION</span>
        </div>
    </nav>
    
    <!-- Set the title of the page. -->
    <title>Document</title>
</head>

<body>
    <!-- Define a block named 'body' that can be overridden by child templates. -->
    {% block body %}
    {% endblock %}
</body>
</html>
